/*Start Data-Table CSS*/

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    white-space:nowrap;
}

.dataTables_length select {
    height: auto !important;
    width: auto !important;
}

.dataTables_length label {
    font-weight: 400 !important;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dataTables_filter input {
    height: auto !important;
}

.dataTables_filter label {
    font-weight: 400 !important;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dataTables_filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .dataTables_filter .exportbtn {
        border: 1px solid gray;
        border-radius: 3px;
        padding: 5px;
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.dataTables_wrapper .row:first-of-type div:nth-of-type(2) {
    display: flex;
    justify-content: end;
}

/*.dataTables_wrapper {
    width: 1110px;
}*/
.dataTables_wrapper{
    display:flex;
    flex-wrap:wrap;
}
.dataTables_wrapper .row {
    width: 100% !important;
}

.table-bordered thead tr th {
    background-color: #cee5f9 !important;
}
.dataTables_length{
    width:50%;
}
.dataTables_length select{
    border-radius:5px;
    border:1px solid skyblue;
    padding:5px;
    outline:0;
}
    .dataTables_filter{
    width:50%;
    display:flex;
    align-items:center;
    justify-content:end;
}
        .dataTables_filter input {
            border-radius: 5px;
            border: 1px solid skyblue;
            outline:0;
            padding:5px;
        }
.dataTables_paginate{
    margin-left:auto;
}
    .dataTables_paginate .paginate_button {
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        border-right: 1px solid gray;
        color: black;
        padding: 5px 10px;
    }
    .dataTables_paginate .current {
        background-color: blue;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        color: white;
        
    }
.dataTables_paginate .previous{
    border:1px solid gray;
    padding:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.dataTables_paginate .next{
    border:1px solid gray;
    border-left:none;
    padding:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
   
    /*.table-bordered th {
    border: none !important;
    border: 1px solid #ccc !important;
    border-collapse: collapse;
}

.table-bordered tr td {
    border: none !important;
    border: 1px solid #ccc !important;
    border-collapse: collapse;
}*/
    /*End Data-Table CSS*/
